<section class=" row col-12 m-0 p-0">
    <div class="col-6 ">
        <div class="card bg-dark text-light" {{#if id}} style="background-color: green !important;"  {{/if}} >
            <div class="card-header">
                <h1 class="h4 text-white">
                    {{#if id}}
                        Editar Contactos
                    {{else}}
                        Lista de Contactos
                    {{/if}}
                   
                    
                </h1>
            </div>

           {{!--  <div class="card-body">
                {{#if contacts}}
                <ul class="list-group">
                    {{#each contacts}}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="my-auto">
                            <h3 class="h6">{{firstname}} {{lastname}}</h3>
                            <p>{{email}}</p>
                        </div>
                        <div>
                            <a href="/delete-contact/{{id}}" class="btn btn-danger">Delete</a>
                            <a href="/edit-contact/{{id}}" class="btn btn-secondary">Edit</a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                {{else}}
                <p class="fs-4 text-center">No Contacts Yet.</p>
                {{/if}}
            </div> --}}

            <div class="card-footer">
                <form action="{{#unless contact.id}}/newContact{{else}}/updateContact/{{id}}{{/unless}}"
                    method="POST">
                    <div class="row">
                        <div class="col">
                            <label for="firstname">First Name:</label>
                            <input type="text" name="firstname" placeholder="Firstname"
                                class="form-control mb-3" value="{{editcontact.firstname}}" autofocus />
                        </div>
                        <div class="col">
                            <label for="lastname">Last Name:</label>
                            <input type="text" name="lastname"  placeholder="Lastname"
                                class="form-control mb-3" value="{{editcontact.lastname}}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="email">Email:</label>
                            <input type="email" name="email"  placeholder="email"
                                class="form-control mb-3" value="{{editcontact.email}}" />
                        </div>
                        <div class="col">
                            <label for="phone">Phone:</label>
                            <input type="tel" name="phone" placeholder="Phone" class="form-control mb-3"
                                value="{{editcontact.phone}}" />
                        </div>
                    </div>
                    {{#if id}}
                    <button class="btn btn-primary btn-block">
                        Update
                    </button>
                    <a href="/" class="btn btn-secondary">
                        Cancel
                    </a>
                    {{else}}
                    <button class="btn btn-primary btn-block">
                        Add
                    </button>
                    {{/if}}
                </form>
            </div>
        </div>
    </div>
    <div class="col-6 ">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">nombre</th>
                    <th scope="col">apellido</th>
                    <th scope="col">email</th>
                    <th scope="col">celular</th>
                    <th scope="row">____Opcion____</th>

                </tr>
            </thead>
            <tbody>
                {{#if contacts}}
                    {{#each contacts}}
                        <tr>                       
                            <th scope="row">{{firstname}}</th>
                            <td>{{lastname}}</td>
                            <td>{{email}}</td>
                            <td>{{phone}}</td> 
                            <td>
                                <div class="d-oneline">
                                       <a href="/deleteContact/{{@key}}" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                                <a href="/editContacts/{{@key}}" class="btn btn-secondary"><i class="bi bi-eyedropper"></i></a>
                                </div>
                             
                            </td>                           
                        </tr>
                    {{/each}}
                {{else}}
                    <tr>
                        <th scope="row"> <p class="fs-4 text-center">No Hay contactos .</p> </th>
                    </tr>              
                {{/if}}
            </tbody>
        </table>
    </div>
</section>